@import "{}/node_modules/angular2-meteor-accounts-ui/build/login-buttons.scss";
@import "{}/node_modules/bootstrap/scss/bootstrap.scss";

.topMenuBar{
	height: 40px;
	width: 100%;
	background-color: #17a098;
}

.loginButtons{
	float: right;
	margin-right: 3%;
	

}
body{
	background-color: #f6b52b;
}
.login-buttons .content-container{
	position: static !important;
	margin: 0px !important;
	margin-top: 40px !important;
}
.login-buttons .accounts-close{
	position: static !important;
	margin: 0px !important;
	float: right;
}

.mainContainer{
	width: 90%;
	height: 100%;
	background-color: #fff;
    margin-right: auto;
    margin-left: auto;
    padding-top: 2%;
}
html,body {     
	min-width: 100%;
}


@import "./imports/hashtag-autocomplete/hashtag-autocomplete";
@import "./imports/services-list/services-list";
@import "./imports/services-form/services-form";