<div class="autocompleteContent row">
  <div class="autocompleteSelector col-md-4">
    <input type="text" id="autocompleteTags" #searchtext placeholder="Search by HashTags" autocomplete="off" (input)="search(searchtext.value)" (keypress)="addTagToList($event)" (keyup)="arrowSelectedElement($event)" >
    <div class="autocompleteBox" *ngIf="hashtags">
      <div class="autocompleteBoxElement selectedBoxElement-{{hashtag._id}}" *ngFor="let hashtag of hashtags" (click)="addTagToListClick(hashtag.name)">
        {{hashtag.name}}
      </div>
    </div> 
  </div>
  <div class="autocompleteSelection col-md-8">
    <div class="autocompleteSelectionElement" *ngFor="let select of hashtagsSelectedObject">
      {{select.name}} <span (click)="removeSelected(select.name)" class="deleteTag glyphicon glyphicon-remove" ></span>
    </div>
  </div>
</div>